<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20897383458-srd70bh26kasdkd1mj6q9l5oeasen4vk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20897383458-srd70bh26kasdkd1mj6q9l5oeasen4vk</string>
	<key>API_KEY</key>
	<string>AIzaSyBILRPfn7jNeTuMdJu0EKPJ1ho-clr--LM</string>
	<key>GCM_SENDER_ID</key>
	<string>20897383458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.thanh.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-22255</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-22255.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20897383458:ios:3b09d05ca92e59f6fe367b</string>
</dict>
</plist>